@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

/*Este es el reseteo de los valores*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*El contenedor del logo y de las lista items con su color y borde*/
.padreNavHeader{
    background-color: rgba(94, 9, 173, 0.582);
    border: solid 2px black;
}

/*El contenedor de los items de la navegacion con su color y borde*/
.listaNav .box{
    background-color: blueviolet;
    border: solid 1px white;
}

/*Los items de la navegacion con su color*/
.listaNav .box a{
    color: white;
}

/*El color del hover del contenedor*/
.box:hover{
    background-color: white;
}

/*El color del hover del texto*/
.box a:hover{
    color: blueviolet;
}

/*El color del titulo principal*/
.tituloPrincipal{
    color:white;
}

/*El color de los titulos secundarios*/
.tituloSub{
    color: violet;
}

/*El color del texto de los parrafos*/
.tamanioParrafo{
    color: white;
}

/*El color del texto del formulario*/
.fuenteFormulario{
    color: rgb(189, 181, 181);
}

/*La imagen de fondo de la pagina*/
body{
    background-image: url("../assets/img/Fondo_gimnasio_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: visible;
}

/*El color del texto del pie de pagina*/
.piePagina{
    color: lightgrey;
}

/*El tamaño configurado para dispositivos moviles*/
@media screen and (min-width: 0px) and (max-width: 768px) {
    .padreNavHeader{
        flex-direction: column;
        height: initial;
    }

    .logoPrincipal a img{
        width: 80px;
        height: 80px;
        display: block;
        margin: 10px;
    }

    .navHeader{
        width: 100%;
    }

    .listaNav{
        display: block;
    }
    
    .listaNav .box{
        border-bottom: 1px solid white;
        text-align: center;
        margin: 5px;
    }

    .listaNav .box a{
        font-size: 1,5rem;
    }

    .video{
        width: 40vh;
        height: 30vh;
    }

    .imagenes{
        width: 40vh;
        height: 30vh;
    }

    .mapa{
        width: 40vh;
        height: 30vh;
    }

    .logoWsp{
        top: 20px;
        width: 50px;
        height: 50px;
        border-radius: 30px;
    }
}