.header {
  background-color: rgb(94, 9, 173);
  background-image: linear-gradient(
    to right,
    #383a9e,
    #463cab,
    #553eb7,
    #653fc3,
    #763fcf,
    #8444d5,
    #9249da,
    #a04ee0,
    #ac5be2,
    #b867e5,
    #c374e7,
    #cd81ea
  );
  .padreNavHeader {
    display: flex;
    .logo {
      width: 80px;
      height: 80px;
    }
    .menu {
      display: none;
    }
  }
  .listaNav {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: end;
    margin-top: 35px;
    .box {
      background-color: blueviolet;
      a {
        color: white;
        font-size: 1rem;
        text-decoration: none;
      }
    }

    .box:hover {
      background-color: white;
      a:hover {
        color: blueviolet;
      }
    }
  }
}
