$contenedor-block: block;
$contenedor-flexible-columnas: column;
$ancho-elementos: 80vw;
$alto-elementos: 40vh;

$colores: (
    principal: blueviolet,
    titulo-parrafo: white,
    subtitulos: violet,
    navegador: rgb(94, 9, 173),
    fuente-formulario: rgb(189, 181, 181),
    pie-de-pagina: lightgrey
);